.Rooms
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;


}

.Search{
    margin: auto;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

@media (min-width : 550px){
    .Rooms{
        flex-flow: row;
        flex-wrap: wrap;
    }
    .Search{
        margin: auto;
        box-sizing: border-box;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-flow: row;
    }
}