.content {
    display: flex;
    box-sizing: border-box;
    padding: 5px 5px;
    font-size: 18px;   
}

.content .infoDiv{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0 5px 5px 0;
   
}

.content .infoDiv p{
    font-weight: bold;
}




.content img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px ;

}

.btnDiv {
    text-align: center;
}




@media (max-width : 750px){
    .content{
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 12px;   

    }   
}   