.container{
    display: block;
}

.content {
    display: flex;
    box-sizing: border-box;
    padding: 5px 5px;   
}

.content .infoDiv{
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid  black;
    border-radius: 0 5px 5px 0;
    transition: background-color 1s ease;
}

.content .infoDiv:hover{
    background-color: skyblue;
}

.content .infoDiv p{
    font-weight: bold;
}


.content img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px 0 0 5px ;

}

.btnDiv {
    text-align: center;
}




@media (max-width : 550px){
    .content{
        display: flex;
        flex-flow: column;
        align-items: center;
    }   
}   