.bookData{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap ;
}

.Img {
    width: 90%;
    box-sizing: border-box;
}

.Img img{
    width: 100%;
}

.card {
    box-sizing: border-box;
    width: 80%;

}

.submit{
    outline: none;
    padding: 8px;
    border: none;
    background-color: darkcyan;
    color: wheat;
}
.submit:hover{
    outline: none;
    border: none;
    background-color: wheat;
    color: darkcyan;
}

@media (max-width : 600px){
    .bookData{
        font-size: 12px;
        flex-flow: column wrap;
    }   
    
}