.App {
    margin: 0;
    padding: 0;
    background-image: url("./Hotel-Room-Booking/assets/img/landingpage/CoolSky.jpg");
 
}    

@media (max-width:768px){
    .App{
        font-size: 11px;
    }
}

@media (max-width:1024px){
    .App{
        font-size: 20px;
    }
}