.AuthContainer {
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 85vh;
    box-sizing: border-box;
    display: flex;
}

.AuthContainer form{
    position: relative;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px lightblue;
    border: 0.5px solid mediumblue;
    transition: background-color 1s ease;
    border-radius: 5px;

}

.AuthContainer img{
    width: 100%;
    max-width: 400px;
    height: auto;
}

.AuthContainer form:hover{
    background-color: skyblue;
}


@media (max-width : 800px){
    .AuthContainer {
        flex-flow: wrap;
    }
    .AuthContainer img{
        width : 80px
    }
    
    
}