.AuthContainer {
    font-size: larger;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;  
    display: flex;
    flex-flow: row wrap ;  
    align-items: center;
    justify-content: space-evenly;
}

.AuthContainer div{
    text-align: center;

}

.AuthContainer form{
    width: 100%;
    box-sizing: border-box;
}

.AuthContainer form div{
    margin: 10px;
    width: 100%;
}

.AuthContainer img{
    width: 100%;
    max-width: 500px;
}

.doorImage {
    box-sizing: border-box;
    position: relative;
    top: 20%;
    left: 0;
    width: 80%;
}


@media (max-width : 800px){
    .AuthContainer {
        font-size: 12px;
        padding: 10px;
        width: 80%;
        box-sizing: border-box;  
        display: flex;
        flex-flow: column ;  
        align-items: center;
    }
    .AuthContainer img{
        width : 200px
    }
    
    
}