.AuthContainer {
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 85vh;
    box-sizing: border-box;
    display: flex;
}

.AuthContainer form{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.AuthContainer form div{
    box-sizing: border-box;
    margin: 10px;
    width: 100%;
}

.AuthContainer img{
    width: 100%;
    max-width: 400px;
    height: auto;
}


@media (max-width : 800px){
    .AuthContainer {
        flex-flow: wrap;
    }
    .AuthContainer img{
        width : 80px
    }
    
    
}